.itemCount {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 0.5%;
    margin-top: 2%;
}
.titleCart {
    margin-top: 3rem;
    margin-bottom: 5rem;
    margin-left: 1rem;
    text-decoration: underline;
}
.descripcion {
    font-weight: bold;
    padding-left: 2%;
    padding-bottom: 3%;
}
.cantidades {
    padding-top: 5%;
}
.cantidadFlex {
    display: flex;
    flex-direction: column;
    padding-bottom: 4%;
}
.numero {
    font-weight: bold;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 1.2rem;
    margin-bottom: 0;
}
.noMargin {
    margin-right: 0;
}
.quantity {
    font-family: roboto;
    margin-right: 2rem;
    padding-top: 2px;
    font-size: 1rem;
    margin-bottom: 0 !important;
    
}
.botonResta {
    padding-right: 5.7px !important;
    padding-left: 5.7px !important;
    padding-top: 1px !important;
    height: 30px !important;
}
.botonSuma {
    padding-right: 4px !important;
    padding-left: 4px !important;
    padding-top: 1px !important;
    height: 30px !important;
}
.contadorFlex {
    display: flex;
}