.itemCount {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 0.5%;
    margin-top: 2%;
    margin-left: 42%;
    margin-right: 42%;
    background: linear-gradient(to right, white 10%, rgb(212, 212, 2));
    border: 1px solid grey;
}
.descripcion {
    font-weight: bold;
    padding-left: 2%;
    padding-bottom: 3%;
}
.cantidades {
    padding-top: 5%;
    padding-left: 2%;
}
.cantidadFlex {
    display: flex;
    justify-content: center;
    padding-bottom: 4%;
}
.numero {
    font-weight: bold;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 1.2rem;
    margin-bottom: 0;
}