.carga {
   display: flex;
   padding-bottom: 10%;
   padding-left: 25%;
}
.carga img {
    width: 300px;
    height: 300px;
}
#carga1 {
    padding-top: 7%;
}
.spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 12%;
    padding-left: 8%;
}
.spinner span {
    padding-left: 5%;
    font-family: oswald;
    font-size: 1.5rem;
}
.detalleProducto {
    display: flex;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
}
#detalleProducto {
        display: flex;
        flex-wrap: wrap;
        padding-top: 1rem;
        margin-bottom: 10rem;
        padding-right: 2rem;
        padding-left: 5rem;
}
.botonCarrito {
    text-align: center;
    background: rgb(199, 199, 199) !important;
    margin-top: 2rem;
    margin-left: 3rem;
}
.botonCarrito:hover {
    box-shadow: 4px 4px 4px 3px black ;
}
.boton1 {
    margin-bottom: 0.5rem;
    font-size: 0.5rem !important;
    letter-spacing: 0.1rem;

}
.boton2 {
    width: 100%;
    margin-right: 0 !important;
}
.cardBody {
    padding-top: 0.3rem !important;
    padding-bottom: 1rem !important;
}
.boton2 button {
    width: 100%;
    font-size: 0.5rem;
    letter-spacing: 0.1rem;
}
.botonFlex {
    display: flex;
    flex-direction: column;
    font-family: roboto;
    font-weight: bold;
}
.slogan {
    display: flex;
    text-align: center;
    flex-direction: column;
    font-family: oswald;
    margin-bottom: 8rem;
}
div .slogan h3 {
    font-size: 2rem;
}
div .slogan p {
    opacity: 0.9;
    letter-spacing: 0.1rem;
}
.imgCard {
    width: 180px !important;
    height: 180px;
    border: 1px solid grey;
}
.precio {
    font-weight: bold;
    opacity: 0.9;
    font-family: oswald;
    letter-spacing: 0.1rem;
    font-size: 0.6rem !important;
}
.nombre {
    font-family: roboto;
    font-size: 0.9rem !important;
    margin-bottom: 0 !important;
}
.tituloFooter {
    font-weight: bold;
    font-size: 1.2rem;
    padding-top: 3rem;
}
.cajasFooter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer {
    background-color: black;
    color: white;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 6rem;
    font-family: raleway;
}
.subtituloFooter {
    padding-top: 1rem;
    font-size: 0.7rem;
    font-weight: 550;
    cursor: pointer;
}
.subtituloFooter1 {
    padding-top: 1rem;
    font-size: 0.7rem;
    font-weight: 550;
    letter-spacing: 0.1rem;
    padding-right: 3.5rem;
}
.subtituloFooter:hover {
    opacity: 0.6;
}
.logoFb {
    background-color: white;
    margin-right: 1rem;
    border-radius: 75%;
    margin-top: 1.5rem;
    width: 32px;
    height: 32px;
}
.logoFb:hover {
    opacity: 0.6;
}
.mediosPago {
    width: 32px;
    height: 20px;
    margin-right: 0.5rem;
}
.footerTitulo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
@media (max-width: 900px) {
    #detalleProducto {
        padding-left: 0;
    }
}



