.header {
    display: flex;
    padding-top: 2%;
    padding-left: 3%;
    padding-right: 4%;
    padding-bottom: 0.5rem;
    justify-content: space-between;
    background-color: black;
}
.logo {
    height: 130px;
    width: 130px;
}
.cartFlex {
    margin: 0;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.divCart div {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.884);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;
    padding:3%;
   
    
}
.divCart div p {
    margin: 0 !important;
    -webkit-text-stroke: 1px orange !important;
    font-family: raleway;
    letter-spacing: 0.1rem;
}
.divCart {
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.carrito {
    width: 30px;
    height: 30px;
}
.menuFlex {
    font-family: raleway;
    display: flex;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    padding-right: 5%;
    margin-bottom: 0 !important;
}
a {
    color: white !important;
    text-decoration: none !important;
    margin-right: 5rem;
    font-size: 0.8rem;
}
a:hover {
    opacity: 0.6;
}
.buscador {
    height: 1.5rem;
    width: 16rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 1rem;
    font-family: raleway;
    font-weight: bolder;
    padding-left: 0.4rem;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 0.8rem;

}
nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(15, 15, 15);
}
@media (max-width: 900px) {
    .logo {
        height: 100px;
        width: 100px;
    }
}